.card {
  position: relative;
  z-index: 1;
    max-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    height: 300px;
    padding: 35px;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.418);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.281);
    backdrop-filter: blur(15px);
  }
  
  .card-footer {
    font-size: 0.65em;
    color: rgba(253, 253, 253, 0.527);
  }
  .p{
    color: #ffffff;
  }






  
  

